body, html { margin: 0; padding: 0; }

.container { background-color: #444444; }
.contained1, .contained2 { width: 1280px; margin : auto; padding: 0 25px; }
header{  background-color: #222222; color: #FFF; margin-bottom: 25px;  }
h1{ width: 1280px; margin:auto; }

.showcase div { display: none; }
.showcase div.active { display: block; }
.tabs li { list-style-type: none; display: inline-block; cursor: pointer; }
ul.tabs { text-align: center; padding: 0; margin: 0; }