body, html { margin: 0; padding: 0; }

.container1, .container2 { padding: 25px 0 50px; background-color: #444444; color: #DDDDDD; }
.container2 { background-color: #222222; }
.contained1, .contained2 { width: 1280px; margin : auto; padding: 0 25px; }
header{  background-color: #222222; color: #FFF; padding: 15px 0; }
h1{ width: 1280px; margin:auto; }
h1 a { color: #FFF; text-decoration: none; }

.showcase div { display: none; }
.showcase div.active { display: block; }
.tabs li { list-style-type: none; display: inline-block; cursor: pointer; padding: 10px; background-color: grey; margin: 10px; border-radius: 3px; border: 1px solid darkgray; }
ul.tabs { text-align: center; padding: 0; margin: 0; }
p{ margin: auto; text-align: center; padding: 25px 0 0; }
h2{ margin: auto; padding-top: 30px; }