* { font-family: "Open Sans", Arial, sans-serif;}

body, html { margin: 0; padding: 0; }
body{ min-width: 1280px; }
.container1, .container2 { padding: 25px 0 50px; background: transparent url("img/pinstriped_suit.png") repeat scroll 0% 0%; color: #DDDDDD; }
/* Background pattern from subtlepatterns.com */
.container2 { background: transparent url("img/footer_lodyas.png") repeat scroll 0% 0%; box-shadow: -5px 15px 25px 20px #111; }
/* Background pattern from subtlepatterns.com */
.contained1, .contained2 { width: 1280px; margin : auto; }
header{  background: transparent url("img/footer_lodyas.png") repeat scroll 0% 0%; box-shadow: -5px -15px 25px 20px #111; position: relative; }
/* Background pattern from subtlepatterns.com */
h1{ width: 1280px; margin:auto; padding-bottom: 5px; }
h1 a, h1 a:visited, h1 a:hover { color: #2a9fd6; text-decoration: none; font-weight: normal; font-size: 40px; padding-bottom: 5px; }

.showcase div { display: none; }
.showcase div.active { display: block; }
/*.tabs li { list-style-type: none; font-weight: 300; display: inline-block; cursor: pointer; padding: 5px 10px 7px; font-size: 18px; color: white; background-color: #2a9fd6; margin: 10px; border-radius: 5px; border-bottom: 3px solid #1856CF; transition: background-color 0.3s, border-bottom 0.3s;}*/
.tabs li { list-style-type: none; display: inline-block; cursor: pointer; width: 150px; height: 150px; border-bottom: 3px solid #1856CF; transition: border-bottom 0.3s; }

li.lutte { background-image: url("img/thumb_Lutte.png"); }
li.lancer { background-image: url("img/thumb_Lancer.png"); }
li.marche { background-image: url("img/thumb_marche.png"); }
li.dodgeball { background-image: url("img/thumb_Dodgeball.png"); }

div.overlay { width: 100%; display: block; height: 100%; transition: background-color 0.3s; }
div.overlay:hover, .tabs li.active div.overlay { background-color: rgba(24,86,207,0.25); }
.tabs li.active { background-color: #1856CF; border-bottom: 3px solid #13377E; }
.tabs li:hover { border-bottom: 3px solid #13377E; }
ul.tabs { text-align: center; padding: 0; margin: 0; margin-bottom: 25px; }

p { margin: auto; text-align: center; padding: 10px; width: 480px; background-color: #444444; margin-top: 25px; border-radius: 10px; box-shadow: 5px 5px 5px 0 #111; }
p > a:hover { color: #46AEE0; }
h2 { margin: auto; padding-top: 30px; color: #2a9fd6;  font-size: 34px; }
a, a:visited { color: #2a9fd6; transition: color 0.3s;}
a:hover { color: #1856CF; }
ul.infos { padding: 0; }
.infos li { list-style-type: none; }
.float { float:left; }
.left { width: 1030px; }
.right { width: 250px; }
.clear { clear:both; }
.hideBehind { margin-left: -50px; }
.fade { z-index: 2; position: relative; }
a.icons { opacity: 1; transition: opacity .5s; }
a.icons:hover .fade { opacity: 0; }
.portrait { border-radius: 25px; }