html, body{
	margin:0;
	padding:0;
}

h1{
	min-width:475px;
	text-align:center;
	margin:10px auto 0;
	font-size:2em;
}

#filterBox{
	min-width:350px;
	margin: 10px auto 0;
	text-align:center;
}

#filterBox h2{
	font-size:1.25em;
	margin:0 0 5px;
}

#filterBox span{
	display: inline-block;
	border-radius: 50px;
	margin: 10px 5px 0;
	background-color: lightgrey;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.3s;
}

#filterBox span.filter.active, #filterBox span.filter:hover{
	background-color: darkgrey;
}

#heroList{
	min-width:500px;
	width:65%;
	margin: 10px auto;
	text-align:center;
}

#dataTable{
	min-width:500px;
	width:50%;
	margin: 25px auto 0;
}

.heroHeader{
	min-width:75px;
	width:10%;
}

 .roleHeader{
	min-width:65px;
	width:7%;
}

.formHeader{
	min-width:75px;
	width:10%;
}

.middleHeader{
	width:35%;
}

table{
	border-spacing: 0 5;
}

th,td{
	padding: 10px 0;
}

th{
	background-color: #999;
	border-right: 1px solid #666;
	border-left: 1px solid #666;
	font-size: 1.25em;
}

th:first-child{
	border-left:0;
}

th:last-child{
	border-right:0;
}

td{
	border-right: 1px solid #6f4d6f;
	border-left: 1px solid #6f4d6f;
	text-align:center;
}

span.tagIcons{
	display: inline-block;
    background: transparent url(img/TagIcons.png) 0 0 no-repeat;
    background-size: 400%;
    width: 65px;
    height: 65px;
    margin: 0;
    padding: 0;
}

span.tagIcons.Warrior{
	background-position: 0 0;
}

span.tagIcons.Assassin{
	background-position: 33.33% 0;
}

span.tagIcons.Support{
	background-position: 66.66% 0;
}

span.tagIcons.Specialist{
	background-position: 100% 0;
}

td:first-child{
	border-left: 0;
	border-radius:10px 0 0 10px;
}

td:last-child{
	border-right: 0;
	border-radius:0 10px 10px 0;
}

.grouped{
	background-color:white;
	display: inline-block;
	border-radius: 5px;
	padding: 3px 5px 3px 4px;
	margin: 2px 5px;
}

.grouped strong{
	display:inline-block;
	padding:2px 0;
}

td > span{
	display: inline-block;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 2px 5px;
}

.grouped > span{
	display: inline-block;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 5px;
}

.grouped > span:first-child{
	margin: 0 0 0 2px;
	border-radius: 5px 0 0 5px;
	position: relative;
    float: left;
}

.grouped > span:first-child:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 20px solid white;
    border-left: 5px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.grouped > span:nth-child(2){
	margin: 0 2px 0 0;
	border-radius: 0 5px 5px 0;
	    position: relative;
    float: left;
}

.grouped > span:nth-child(2):before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-bottom: 5px solid transparent;
    border-left: 0px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

tr.heroRow{
	background-color:#270027;
	display:none;
}

tr.heroRow.active{
	display:table-row;
}

span.listedHero{
	display: inline-block;
	border-radius: 3px;
	padding: 3px;
	margin: 3px;
	background-color: #580058;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.3s;
}

span.listedHero.active, span.listedHero:hover{
	background-color: #4eacbb;
}

span.listedHero.filtered{
	opacity: 0.25;
}

.Stun{
	background-color: #bd00bd;
}
.Slow{
	background-color: #dacaa7;
}
.Wall{
	background-color: #8c8c8c;
}
.Fear{
	background-color: #580058;
	color: white;
}
.Root{
	background-color: #864545;
}
.Blind{
	background-color: #c5ffc5;
}
.Displacement{
	background-color: #d8f0f8;
}
.Silence{
	background-color: #ffb3cf;
}
.Polymorph{
	background-color: #ececec;
}
.Shrink{
	background-color: #ffff00;
}
.Stasis{
	background-color: black;
	color: white;
}
.Pull{
	background-color: darkblue;
	color: white;
}
.Temporal.Loop{
	background-color: #df6111;
}
.Push{
	background-color: #80bafb;
}
.Chain{
	background-color: #436b77;
	color: white;
}
.Taunt{
	background-color: red;
}
.Void.Prison{
	background-color:#18cc18;
}
.Cocoon{
	background-color:#d4bbe4;
}
.Gorge{
	background-color:#f19a78;
}
.Mind.Control{
	background-color:#4eacbb;
}
.Devour{
	background-color:#8c7b6e;
}
.Knockup{
	background-color:#caba38;
}
.Grab{
	background-color:#f9e583;
}
.Drag{
	background-color:#00ffad;
}
.Hook{
	background-color:#ad9ec3;
}
.Swap{
	background-color:#abd6ce;
}